.mainbody-sidebar-container{
    display: flex;

    height: 85vh;
}
.login-container-backdrop{
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}
.login-container-logo{
    width: 60px;
 
}
.login-container{
    height: 400px;
    max-width: 500px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-container-heading{
    font-weight: 600;
    padding: 1em 0em;
}
.login-container-button{
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 0.4em 1em;
    color: rgb(228, 228, 228);
    background-color: transparent;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 3em;
    transition: 0.2s;
}
.login-container-button:hover{
    color: white;
    border: 2px solid rgb(255, 255, 255);
}